# Object files
*.o
*.ko
*.lo
*.la

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Produced by configure scritp
config.log
config.status
.libs/
libtool
Makefile
libexpression-config.h
html/

# Binaries
expression